.PokeTemplate {
   min-width: 1200px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 4px;
   overflow: hidden;
}

.PokeTemplate .app-title {
   background: #393939;
   color: #fff;
   height: 4rem;
   font-weight: 800;
   font-size: 1.5rem;
   display: flex;
   align-items: center;
   justify-content: center;
}

.PokeTemplate .content {
   background: white;
}
